[submodule "themes/myTheme"]
	path = themes/myTheme
	url = https://github.com/Suny95/theme.git
[submodule "themes/blackTheme"]
	path = themes/blackTheme
	url = https://github.com/Suny95/blackTheme.git
[submodule "themes/star"]
	path = themes/star
	url = https://github.com/Suny95/star.git
